.checkbox {
  display: flex;
  align-items: center;

  &__input:checked + &__icon {
    &::before {
      opacity: 1;
    }
  }

  &__icon {
    border: 1px solid var(--fifth-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    &::before {
      background-color: var(--first-color);
      border-radius: 50%;
      content: "";
      transition: 0.3s;
      position: absolute;
      opacity: 0;
      width: 12px;
      height: 12px;
    }
  }
}
