.btn {
  background-color: var(--first-color);
  color: #fafafa;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
  padding: 16px 40px;

  &:hover {
    background-color: var(--second-color);
  }

  &.outlined {
    background-color: transparent;
    color: var(--first-color);
    border: 1px solid var(--first-color);

    &:hover {
      color: var(--second-color);
      border-color: var(--second-color);
    }
  }
}
