.outstanding {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin: -102px 0 40px;

    &__title {
        color: var(--third-color);
        font-size: 48px;
    }

    &__description {
        margin: 28px 0;
    }

    // &__img {
    //     width: 39.58vw;
    // }
}