.proxy_form {
  margin-bottom: 60px;

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-bottom: 28px;
  }

  .proxy_form__file {
    padding: 8px 40px;
    margin-left: auto;
  }

  &__application {
    margin-bottom: 28px;
  }

  &__form {
    &_content {
      display: flex;
      align-items: flex-start;
      grid-gap: 24px 48px;
      flex-wrap: wrap;
    }
  }

  &__fields {
    flex-grow: 1;
  }
}
