.spoiler {
  border: 1px solid var(--second-color);
  border-radius: 8px;
  padding: 20px 40px;

  &.active {
    .spoiler__content {
      transition: 1s;
      transition-timing-function: ease-in;
      max-height: 5000px;
    }

    .spoiler__arrow {
      transform: rotate(180deg);
    }
  }

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 900;
  }

  &__arrow {
    transition: 0.5s;
  }

  &__content {
    transition: 0.75s;
    transition-timing-function: ease-out;
    overflow: hidden;
    max-height: 0;
  }
}
